
.rbc-calendar {
    height: 850px ;
  }

.rbc-today {
  background-color: #d6e6ff;
}

.rbc-btn {
  color: inherit;
  font: Arial;
  margin: 0;
}

.rbc-date-cell > a {
  font-family: monospace;
}